@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
}

body{
  animation: fade 0.3s ease-in-out;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes pop {
  from {scale : 0;}
  to { scale: 1;}
}

input, textarea{
  padding: 10px;
  border: 2px solid rgb(95, 95, 95);
  border-radius: 10px;
  resize: none;
  outline: none;
}
input:focus, textarea:focus{
  outline: 1px solid rgb(197, 197, 197);
}

::placeholder{
  color: grey;
}

button{
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  background-color: rgb(0, 153, 255);
  color: white;
  cursor: pointer;
}

button:hover{
  opacity: 0.9;
}

button:focus{
  opacity: 0.7;
}